* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    line-height: 1.5;
    background-color: #f2e9ce;
}

main {
    flex-grow: 1;
}

.background {
    height: 300px;
}

/* =========================================
               Header/Footer
   =========================================
*/

.page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
}

.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.nav__link:hover {
    opacity: 1;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: #fff;
    opacity: 0.75;
    transition: opacity 0.1s linear;
}

.logo {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(24, 23, 24, 1) 0%, rgba(199, 130, 26, 1) 50%, rgba(28, 27, 25, 1) 100%);
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    cursor: pointer;
}

.logo:after {
    content: "";
    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-image: url(photos/pizza.svg);
    background-size: 30px;
}

.page-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #222;
}

/* =========================================
                   Main
   =========================================
*/

.cards {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.main-title {
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

.card {
    text-align: center;
    width: 350px;
    transition: box-shadow, 0.2s linear;
    padding: 5px;
    background-color: #f0ecdf;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0px 5px 10px 2px rgba(24, 24, 24, 0.2);
    cursor: pointer;
}

.card:hover button {
    opacity: 1;
}

.card__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.card__title {
    margin: 8px 0 20px;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.card__decription {
    opacity: 0.7;
    font-size: 15px;
    letter-spacing: 0.7px;
    margin-bottom: 5px;
}

.content-size__title {
    margin-bottom: 7px;
}

.content-size__variant:not(:last-child) {
    margin-right: 30px;
}

.content-size__variant {
    border-radius: 30%;
    padding: 10px;
}

.content-size__variant:hover {
    background: rgb(238, 202, 135);
}

.content-size__checkbox {
    margin-bottom: 20px;
}

.product-price {
    margin-bottom: 5px;
    font-family: 'Dancing Script', cursive;
}

.btn__icon {
    display: inline-flex;
}

.btn__icon--start {
    margin-right: 10px;
}

.btn__icon--end {
    margin-left: 10px;
}

.btn {
    opacity: 0;
    font-size: 17px;
    font-weight: 550;
    border: none;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 7px;
    background-color: rgba(255, 60, 0, 0.726);
    transition: background-color 0.2s linear;
    transition: opacity 0.2s linear;
}

.btn:hover {
    background-color: rgba(255, 60, 0, 0.884);
}

@media screen and (max-width: 600px) {
    .cards{
        flex-direction: column;
        width: 100%;
        margin: 0 auto 25px;
    }

    .card{
        align-self: center;
        border-bottom: 0.5px solid rgb(230, 164, 66);
        width: 100%;
    }

    .main-title{
        text-align: left;
        margin-left: 10px;
    }


    .page-header, .nav{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .logo{
        align-self: flex-end;
    }
}

@media screen and (max-width: 400px) {
    .content-size__variant{
       font-size: 14px; 
    }
}


@media screen and (max-width: 890px) and (min-width: 601px){
    .cards{
        flex-wrap: wrap;
        row-gap: 20px;
    }

}

@media screen and (max-width: 750px){
    .card{
        width: 100%;
    }

    .page-header, .nav{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .logo{
        align-self: flex-end;
    }
}